*{
    margin: 0;
}
.row{
    display: flex;
    justify-content: center;
    gap: 15%;
}
.list-style{
    list-style: none;
}
.nav-item{
    font-size: 20px;
    font-style: unset;
    color: rgb(242, 232, 232);
}
.header{
    padding: 3%;
    background-color: rgb(182, 173, 174);
}
.banner-header{
    color: rgb(224, 213, 213);
    font-style: italic;
    font-size: 70px;
}
.col-2{
    width: 45%;
}
.space-between{
    justify-content: space-between 5%;
}
.text-header{
    color: rgb(97, 121, 97);
    font-size: 15px;
    font-style: initial;
}
