.row{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.list-style{
    list-style: none;
    
}
.nav-item{
    front-size: 30px;
    color:white

}
.header{
    background-color: darkslategray;
    padding: 20px;
}