*{
    margin: 0;
}
#banner{
    background-image: url(../imges/moeb.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position-y: 25%;
}
.header{
    padding: 3%;
}
.row{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.list-style{
    list-style: none;
    color: bisque;
    font-size: 20px;
}
.col-2{
    width: 100%;


}
.align-item{
    align-items: center;
}
.banner-header{
    padding-top:  15%;
    font-size: 80px;
    font-style: italic;
    color: bisque;
}
.banner-text{
    padding-left: 20%;
    font-size: 20px;
    font-style: italic;
    color: bisque;
}
img{
    width: 100%;
}
.col-3{
    width: 30%;
    padding: 5%;
}
.img_cont{
    width: 25%;
}